@import url(global.css);
@import url(modal.css);
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=League+Spartan:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: League Spartan;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2b565d; 
    padding: 100px 0;
    z-index: 10;
    display: flex;

    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#container {
    padding-top: 500px;
    padding-bottom: 100px;
}

.title {
    text-align: center;
    font-size: 3.9rem;
    color: #ebfcff;
    margin-bottom: 50px;
    position: fixed;
    top: 30px;


    
}

.item-image img {
    width: 150px;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #acacac;
}

.input-group {
    font-size: 23px;
    display: flex;
    align-items: center;
    background-color: #c9c9c9;
    padding: 4px 4px 8px 8px;
    border-radius: 24px;
    gap: 8px;
    position: fixed;
    top: 120px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 300px;

}

.input-icon {
    display: flex;
    min-width: 32px;
    min-height: 32px;
    align-items: center;
    justify-content: center;
}

.input-field {
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: transparent;
}

.input-field:focus {
    outline: none;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin-top: -290px;
    border-radius: 24px;
    padding: 14px;
    width: 480px;
    height: 100%;
    overflow-y: auto;
    
}

.item {
    display: flex;
    gap: 23px;
    border-radius: 24px;
    padding: 14px;
    width: 100%;
    background-color: #d4d4d4;
    height: 200px;
}

.item-title {
    font-size: 2.1rem;
    color: #000000;
    text-align: center;
}

.item-price {
    font-size: 25px;
    position: relative;
    left: 3px;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 80px;
    display: flex;
    background: #2b565d;
    justify-content: center;
    
    
}

nav ul{
    display: flex;
    position: relative;
    list-style: none;
    gap: 30px;
}

nav ul li {
    position: relative;
    width: 75px;
    height: 75px;
    
}

nav ul li a {
    text-decoration: none;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    

}

nav ul li a .icon {
    display: block;
    position: relative;
    line-height: 85px;
    font-size: 34px;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li.active a .icon {
    color: #b1b1b1;
    transform: translateY(-8px);
}

nav ul li a .text {
    position: absolute;
    font-size: 14px;
    line-height: 9px;
    padding: 4px 8px;
    background: #21646e;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    transform: translateY(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

nav ul li.active a .text {
    opacity: 1;
    transform: translateY(16px);
}

.button-02 {
    display: flex;
    border: none;
    background-color: #2b565d;
    color: white;
    border-radius: 100px;
    padding: 9px 30px;
    position: relative;
    left: 70px;
    top: 45px;
    font-size: 23px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
  
.button-02:hover {
    background-color: #1d393d;
}

#no_results {
    display: none;
    text-align: center;
    color: #000000;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}

.modal {
    display: none;
    position: fixed; /* Fixa na tela */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4); /* fundo escuro */
    align-items: center;
    justify-content: center;
}
  
.modal.active {
    display: flex;
}

.modal-item-image img {
    position: relative;
    right: 120px;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;

}

.modal-item-title {
    font-size: 30px;
    position: relative;
    bottom: 140px;
    left: 47px;
}

.modal-item-price {
    font-size: 25px;
    position: relative;
    bottom: 140px;
    left: 4px;
}

.modal-content {
    background-color: #ffffff;
    margin: auto; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column; 
    text-align: center; 
    color: #292929;
}

.modal-close-btn {
    color: #aaaaaa;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #4c3000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h1 {
    font-size: 38px;
    margin-bottom: 15px;
    border-bottom: 1px solid #092a31;
    padding-bottom: 10px;
    width: 100%;
}

.modal-content button {
    margin-top: 25px;
    background-color: #092a31;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 56px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s ease;
    font-size: 16px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.modal-content button:hover {
    background-color: #375057;
}

.form-agendamento label {
    display: block;
    margin-top: 15px;
    gap: 20px;
}

input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.horarios {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.horarios button {
    padding: 13px 16px;
    border: none;
    background: #cacaca;
    color: #383838;
    border-radius: 15px;
    cursor: pointer;
}

.floating-label {
    position: relative;
    margin-top: 20px;
  }
  
  .floating-label input,
  .floating-label select {
    width: 100%;
    padding: 16px 12px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: transparent;
    outline: none;
  }
  
  .floating-label label {
    position: absolute;
    top: -23px;
    left: 12px;
    color: #666;
    font-size: 16px;
    pointer-events: none;
    background-color: #fff;
    padding: 0 4px;
    transition: 0.2s ease all;
  }
  
  .floating-label input:focus + label,
  .floating-label input:not(:placeholder-shown) + label,
  .floating-label select:focus + label,
  .floating-label select:valid + label {
    top: -21px;
    left: 10px;
    font-size: 12px;
    color: #2b565d;
  }